.header{
    background: rgba(26, 26, 26, 0.6);
    position: fixed;
    color: #ffff;
    width: 100%;
    z-index: 999;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.header-content{
    width: 90%;
    padding: 10px 0px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
    text-decoration: none ;
    margin: 0 20px;
}
.right{
    display: flex;
    align-items: center;
}
.right button{
    background: #00BFE0;
    height: 40px;
    width: 148px;
    color: #1a1a1a;
    border-radius: 10px;
    border: none;
}
.right button:hover{
    background: #5fcfe2;
    cursor: pointer;
}

.App-logo {
    height: 48px;
    width: 48px;
    pointer-events: none;
}

.dropdowncaret{
    position: relative;
    display: none;
}
.products{
    position: relative;
}
.dropdowncaret:hover{
    color: #00BFE0;
    cursor: pointer;
}
.products:hover{
    color: #00BFE0;
    cursor: pointer;
}
.dropdowncaret .thedropdown{
    position: absolute;
    width: 25vw;
    right: 0;
    top: 30px;
    background: #00bee09c;
    color: #fff;
    text-align: center;
    font-size: 12px;
}
.products .thedropdown{
    position: absolute;
    width: 22vw;
    left: 0px;
    top: 25px;
    background: rgba(26, 26, 26, 0.6);
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;

}

.nav-link {
    display: block;
    text-decoration: none;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    color: var(--white-color);
    transition: 0.5s;
}
.nav-link:active{
    color: #00BFE0;
}
.nav-link:hover{
    background: #00BFE0;
}
.prod-link {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    text-decoration: none;
    background: rgba(26, 26, 26, 0.856);
    padding: 10px 20px;
    position: relative;
    margin: 20px 20px;
    border-radius: 10px;
    color: var(--white-color);
    transition: 0.5s;
}
.prod-link:hover{
    background: #051214;
}




/*///////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////     FOOTER           /////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////*/
.footer{
    background: #1a1a1a;
    color: #fff;
    padding: 30px 0px;
}
.top-footer{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 60px;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.315);
}
.lower-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px ;
    width: 90%;
    margin: 0px 20px;
}
.lower-footer p{
    font-size: 12px;
    color: #a09c9c;
}
.footlinks{
    margin: 0px;
}
a:hover{
    color: #00BFE0;
}






@media (max-width: 660px) {
    .right{
        display: none;
    }
    .dropdowncaret{
        display: block;
    }
    .top-footer{
        padding: 20px;
    }
}