.homepage{
    width: inherit;
}

/*///////////////////////////////////////////////////////////////////////////////////////*/
.first-frame{
    width: inherit;
    background: radial-gradient(#00D1F4, #061c20, #1a1a1a);
}
.text-bg{
    background: #1a1a1aaf;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    color: white;
}
.lft-txt{
    padding-top: 150px;
    padding-left: 64px;
    flex: 40%;
    font-size: 29px;
    font-weight: 800;
}
.chgcol{
    color: #00D1F4;
}
.lft-txt p{
    font-size: 20px;
    font-weight: 400;
    color: #EDEDED;
    line-height: 36px;
    letter-spacing: 1px;
}
.rt-img{
    padding-top: 100px;
    flex: 40%;
}
@media (prefers-reduced-motion: no-preference) {
    .first-frm-img{
        animation: bounce infinite 3s linear;
    }
    }
@keyframes bounce {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}


/*///////////////////////////////////////////////////////////////////////////////////////*/
.second-frame{
    margin-top: 75px;
    text-align: center;
    position: relative;
}
.second-frame h1{
    font-size: 40px;
    font-weight: 800;
}
.second-frame p{
    font-size: 20px;
}
.sf-slides{
    width: 90%;
    margin: 50px auto;
    background: #0f0f0f;
    display: flex;
    color: #ffff;
    flex-wrap: wrap;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
}
.sf-slides-txt{
    padding-left: 60px;
    flex: 30%;
    padding-right: 50px;
    text-align: left;
}
.slide-images{
    flex: 30%;
}
.sf-slides-txt button{
    width: 135px;
    height: 40px;
    border: 1px solid #00D1F4;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 15px;
}
.sf-slides-txt button:hover{
    background: #b2f2fd;
    cursor: pointer;
}


/*///////////////////////////////////////////////////////////////////////////////////////*/
.third-frame{
    margin-top: 75px;
    text-align: center;
}
.third-frame h1{
    font-size: 28px;
    font-weight: 800;
}
.third-frame p{
    font-size: 17px;
    font-weight: 100;
    opacity: 0.9;
}
.tf-slides{
    width: 90%;
    margin: 50px auto;
    background: rgba(250, 250, 250, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    border-radius: 10px;
}
.boxx{
    padding-left: 60px;
    flex: 1;
    padding-right: 50px;
    text-align: left;
    padding-top: 100px;
}
.boxx button{
    margin-top: 30px;
    margin-bottom: 30px;
    background: none;
    border: none;
    color: #00D1F4;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 15px;
}
.boxx:hover{
    background: black;
    color: #ffff;
}
.boxx:hover button{
    background: #32cce7;
    color: black;
}



/*///////////////////////////////////////////////////////////////////////////////////////*/
.fourth-frame{
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.911);
    gap: 50px;
    color: white;
    padding: 50px 60px;
}
.mapimg{
    max-width: 500px;
    min-width: none;
    flex: 50%;
}
.lt2{
    flex: 50%;
}
.lt2 h2{
    margin-bottom: 5px;
    font-size: 40px;
    text-align: left;
}
#spac{
    display: flex;
    gap: 80px;
    padding-top: 40px;
}


/*///////////////////////////////////////////////////////////////////////////////////////*/
.fifth-frame{
    margin: 60px auto;
    width: 55%;
}
.fifth-frame h1{
    font-size: 70px;
}
.fifth-frame button{
    padding: 10px 30px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.904);
}
.fifth-frame button:hover{
    background: rgba(0, 0, 0, 0.76);
    cursor: pointer;
}



/*///////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width: 660px) {
    .first-frame{
        width: 100%;
    }
    .first-frm-img{
        display: none;
    }
    .boxx{
        text-align: center;
        width: 70%;
        margin: 0px auto;
    }
    .tf-slides{
        gap: 10px;
    }
    .fourth-frame{
        padding: 20px;
    }
    .lt2{
        width: 100%;
    }
    .mapimg{
        width: 100%;

    }
    .slide-images{
        width: 100%;
    }
    .lft-txt{
        padding-left: 30px;
    }
    .rt-img{
        padding-top: 30px;
    }
    .fifth-frame{
        margin: 20px;
        width: 90%;
    }
}